.boton-negro {
    @include boton($negro, inline-block);
    text-transform: uppercase;
    padding: 12px 10px;
    margin: 0;

    &:hover {
        color: $principal;
         
    }

    border-radius: 1rem;
}

// .boton-amarillo-block {
//     @include boton($amarillo, block);
// }

.boton-principal {
    @include boton($grisalternativo, inline-block);
}


.boton-verde {
    @include boton($verde, block);
}

.boton-rojo {
    @include boton($rojo, block);
}