  
  #wrapper {
    width: 70%;
    height: 80%;
    overflow: hidden;
    margin: 50px auto;
    padding: 10px;
  }
  
  .w-left {
    width: 50%;
    float: left;
    text-align: right;
  }
  
  .w-right {
    width: 50%;
    float: right;
  }
  
  .main-content {
    width: 250px;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 40px 50px;
  }
  
  
  
  .input {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .overlap-text {
    position: relative;
  }
  
  .overlap-text a {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #003569;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Segoe UI', monospace;
    font-weight: 400;
  }
  
  .btn {
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .btn:focus {
      background-color: #C4E0FB;
  }
  
  .sub-content {
    width: 250px;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    padding: 35px 50px;
    background-color: #fff;
  }
  
  .s-part {
    text-align: center;
    font-family: 'Segoe UI', monospace;
    font-weight: 400;
    color: #333;
  }
  
  .s-part a {
    text-decoration: none;
    cursor: pointer;
    color: #3897f0;
    font-family: 'Segoe UI', monospace;
    font-weight: 400;
  }
  
  .myButton {
    background-color:#3e3ed6;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:15px 41px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2768b8;
    border: 0px;
  }
  .myButton:hover {
    background-color:#1e32b8;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  
  .button_white {
    background-color: white;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#262626;
    font-size:16px;
    padding:6px 9px;
    text-decoration:none;
    border: 1px solid #DBDBDB;
    font-family: 'Segoe UI', monospace;
    font-weight: 600;
    line-height: 18px;
  }
  .button_white:active {
    position:relative;
    top:1px;
  }
  
  .button_blue {
    background-color: #3897F0;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-size:16px;
    padding:6px 9px;
    text-decoration:none;
    border: 0px solid #DBDBDB;
    font-family: 'Segoe UI', monospace;
    font-weight: 600;
    line-height: 18px;
  }
  .button_blue:active {
    position:relative;
    top:1px;
  }
  
  .button_edit_on {
    background-color: white;
    display:inline-block;
    cursor:pointer;
    color:#262626;
    font-size:18px;
    padding:20px 30px;
    text-decoration:none;
    border-left: 2px solid black;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    font-family: 'Segoe UI', monospace;
    font-weight: 600;
    line-height: 20px;
  }
  .button_edit {
    background-color: white;
    display:inline-block;
    cursor:pointer;
    color:#262626;
    font-size:18px;
    padding:20px 30px;
    text-decoration:none;
    border-left: 0px solid #999;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    font-family: 'Segoe UI', monospace;
    font-weight: 400;
    line-height: 20px;
  }
  .button_edit:hover {
    background-color: white;
    display:inline-block;
    cursor:pointer;
    color:#262626;
    font-size:18px;
    padding:20px 28px;
    text-decoration:none;
    border-left: 2px solid #999;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    font-family: 'Segoe UI', monospace;
    font-weight: 400;
    line-height: 20px;
  }
  
  /* CAMBIAR INPUT POR IMAGEN */
  
  .image-upload > input {display: none;}
  .image-upload img {cursor: pointer;}
  
  
  /* CAMBIAR RADIO POR IMAGEN */
  
  .imgcheck{
      // position:relative;
      // display: inline-block;
      width: 50%;
  }
    .imgcheck label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  .imgcheck label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
  .imgcheck label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid $principal;
  }
  
